<h2>Контакты</h2>

<form  action="/contacts" method="POST" role="form">

   <div class="form-group">
      
      <label for="exampleInputEmail1">Email</label>
      <input type="email" name="Email1" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="<%= @Email1 %>">

   </div>

   <p><textarea  name="Message" class="form-control" rows="3" ></textarea></p>

   <button type="submit" class="btn btn-primary">Отправить</button>


</form> 